variables:
  PLUGIN_NAME: 'contentAnalysis'

include:
  - project: 'documentacao-e-tarefas/modelosparaintegracaocontinua'
    ref: stable-3_4_0
    file:
      - 'templates/groups/pkp_plugin.yml'
      - 'templates/groups/ops/unit_tests.yml'
      - 'templates/groups/ops/cypress_tests.yml'

.unit_test_template:
  before_script:
    - apt update && apt install poppler-utils -yqq

.integration_tests_template:
  before_script:
    - apt update && apt install poppler-utils -yqq