#checklistHeader h2 {
    margin-top: 18px;
    margin-bottom: 18px;
}
#statusChecklist{
    border: 1px solid #c2c0c0;
    padding: 20px;
    margin-bottom: 25px;
}

#titleMessage {
    margin-bottom: 18px;
}

#titleMessage h3 {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px;
}

#statusContribution, #statusORCID, #statusConflictInterest, #statusMetadataEnglish, #statusEthicsCommittee {
    display: flex;
    align-items: center;
    background-color: #DCDCDC;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 18px;
}

#statusContribution span, #statusORCID span, #statusConflictInterest span, #statusMetadataEnglish span, #statusEthicsCommittee span {
    line-height: 24px;
    font-size: 16px;
    margin-left: 0.5em;
}

.statusSuccess, .statusSkipped {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #00b28d;
}

.statusWarning {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #daa520;
}

.statusError {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: #d00a6c;
}

#checklistAdvice {
    margin-top: 16px;
    padding-left: 0.5em;
    border-left: .5rem solid #d00a6c;
    color: #d00a6c;
}